# dependencies
/node_modules
/.pnp
.pnp.js
/cursor
/.cursor
# testing
/coverage

# next.js
/.next/
/out/

# production
/build
# misc
.DS_Store
# Oracle VM
ORACLE_VM_CRONS.md
oracle-service/
oracle-service.tar.gz
oracle-service

*.pem

# SSH keys
*SSH*.key
*SSH*.pub
SSH*.key
SSH*.pub
*.key
*.pub
SSH Key *.key
SSH Key *.pub

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts